@import "./sass/main";


// sass -w restaurant3.scss:restaurant3.css 

/*     HEADER    */

#logo {

    .fa-solid.fa-arrow-left-long {
        float: left;
        padding: 8px;
        font-size: larger;
    }

    @include logo;
    position: revert;
}

#banner img {
    max-width: 100%;
    max-height: 20rem;
    width: 100%;
    object-fit: cover;
}

/*      MAIN     */

#resto {
    padding: 0;
    background-color: $colour-background;
    margin-top: -100px;
    position: relative;
    border-radius: 30px 30px 0 0;

    .menu-title {

        h2 {
            font-family: "Shrikhand", "sans-serif";
            position: relative;
            padding: 10px;
            margin-top: 10px;
            margin: 15px;
            padding-top: 17px;
            max-width: 70%;
        }


        @include heart
    }

    .menus {
        display: flex;
        flex-direction: column;
        gap: 20px;

        h3 {
            margin-left: 10px;
            font-weight: 400;
            content: "";
            width: 50px;
            border-bottom: 4px solid $colour-tertiary;
        }
    }

    .menus__category {
        background-color: $colour-white;
        border-radius: 1rem;
        box-shadow: 1px 1px 6px -3px #000000;
        animation: appear 1s;
        animation-fill-mode: both;
        overflow: hidden;
       

        @for $i from 1 through 20 {
            &:nth-child(#{$i}) {
                animation-delay: 100ms *$i;
            }
        }

        h4,
        p {
            margin: 0;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        p {
            font-size: 14px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        .menu-item {
            display: flex;
            //padding: 1rem;
            overflow: hidden;          
            cursor: pointer;
            border-radius: 1rem;

            .menu-item__price {
                margin-left: auto;
                font-weight: bolder;
                display: flex;
                align-items: flex-end;
                padding: 1rem;
            }

            .menu-item__description {
                padding: 1rem;
                overflow: hidden;
            }

            .menu-item__check {
                display: grid;
                place-items: center;
                $button-width: 4rem;
                border-radius: 0 1rem 1rem 0;
                background-color: $colour-tertiary;
                margin-right: -$button-width;
                width: $button-width;
                transition: margin-right 0.5s;
                flex-shrink: 0;

                i {
                    display: grid;
                    place-items: center;
                    background: hsl(0deg 0% 100%);
                    border-radius: 50%;
                    width: 2rem;
                    aspect-ratio: 1;
                    color: $colour-tertiary ;
                }

            }

            &:hover {
                .menu-item__check {
                    margin-right: 0;
                }

                i {
                    animation: quarterspin 0.5s ease;
                }
            }

            /*.menu-item__description {
                padding: 5px;
            } */


            &>* {
                //padding: 10px;
                max-width: 79%;
            }
        }
    }
}

.resto-main {
    padding: 0 1rem;
}


button {
    @include button;
}