//* Load Spinner *//
.loader {
    position: fixed;
    display: grid;
    place-items: center;
    background-color: #fff;
    height: 100vh;
    inset: 0;
    z-index: 1;
    opacity: 0.9;
    animation: disappear 200ms $animation-duration forwards;
    transform-origin: center;

    &::after {
        content: "";
        height: 100px;
        width: 100px;
        border-bottom: 5px solid $colour-secondary;
        border-left: 5px solid $colour-tertiary;

        border-top: 5px solid $colour-primary;
        border-radius: 100%;
        animation: spin $animation-duration infinite linear;
    }
}

@keyframes disappear {
to {
    transform: scale(0);
}
}

@keyframes spin {
to {
    transform: rotate(360deg);
}
}


//* Heart*//
.fas {
color: transparent;
background-image: linear-gradient($colour-secondary, $colour-primary);
background-clip: text;
-webkit-background-clip: text;
opacity: 0;
transition: all 200ms ease-in-out;
}

.fas:hover  {
opacity: 1;
}

//* Effect *//

@keyframes appear {
0% {
    transform: translateY(50%);
    opacity: 0;
}
100%{
    transform: translateY(0);
    opacity: 1;
}
}

//* effet check *//
@keyframes quarterspin {
    0% {
        transform: rotate(-270deg);
    }
    100%{
        transform: rotate(0);
    }
    }