body {
    margin: 0;
}

main {
    padding: 0 7rem;

    @media (max-width:$mobile-breakpoint) {
        padding: 0;
    }

    @media (max-width:$tab-breakpoint) {
        padding: 0;
    }



}

h3 {
    margin: 0,
}

a {
    text-decoration: none;
    color: inherit;
}

.wrapBtn {
    display: flex;
    justify-content: center;
    padding: 3rem 0;
}

