$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary:#99E2D0;
$colour-white:white;
$colour-background: #f3f3f3;
$colour-background-secondary: #FAFAFA;
$colour-footer: #303030;

$heading-shadow-size:  0 2px 0 0;
$text-center: center;

$mobile-breakpoint: 768px;
$tab-breakpoint: 1200px;

$animation-duration: 2s;