footer {
    background-color: $colour-footer;
    gap: 20px;
    padding: 30px;

    h4 {
        font-family: Shrikhand, "sans-serif";
        color: $colour-white ;
        margin-right: 50px;
    }

    p {
        color: $colour-white ;
        cursor: pointer;
    }

    .fa-solid {
        margin-right: 10px;
    }

    .fa-solid.fa-utensils {
        margin-right: 15px;
    }

}